/* @theme marp-black-white */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap");
@import url("https://unpkg.com/highlightjs@9.16.2/styles/atom-one-dark.css");

:root {
  --content-padding-x: 36px;
  --content-padding-y: 18px;

  --content-padding: var(--content-padding-y) var(--content-padding-x);

  --header-height: 60px;
  --footer-padding: calc(16px + var(--content-padding-y) * 2);

  font-family: "Pretendard";
  font-size: 18px;

  background-color: #262626;
  color: white;
}

* {
  box-sizing: border-box;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin-top: 10px;
  margin-bottom: 10px;
}

section {
  height: 100%;
  padding: var(--content-padding);
}

p {
  word-break: keep-all;
}

a {
  color: white;
}

code {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.125em 0.25em;
  border-radius: 0.25em;
}

pre code {
  background-color: transparent;
  padding: 0;
}

li:not(:first-child) {
  margin-top: 0.5rem;
}

/* lead */
section.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

/* table */
table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

table th {
  font-weight: 600;
}

table th,
table td {
  padding: 6px 13px;
  border: 1px solid white;
}

table td > :last-child {
  margin-bottom: 0;
}

table tr {
  border-top: 1px solid white;
}

table img {
  background-color: transparent;
}

td,
th {
  padding: 0;
}

/* pre */

pre {
  border-radius: 1rem;
  background-color: #333;
  padding: 1rem;
  font-size: 12px;
}

/* header */
section:has(header) {
  padding-top: calc(var(--header-height) + 1px);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  font-size: 16px !important;
  height: var(--header-height);
  padding: var(--content-padding-y);
}

/* footer */
section:has(footer) {
  padding-bottom: calc(var(--footer-padding) + 1px);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  font-size: 16px !important;
  padding: var(--content-padding);
}

/* page counter */
section::after {
  content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);

  position: absolute;
  bottom: 0;
  right: 0;

  text-align: right;

  font-size: 18px;
  padding: var(--content-padding);
}

/* blockquote */

blockquote {
  display: inline-block;
  margin: 0;
  padding: 1rem;
  background-color: #333;
  border-left: 4px solid #f0f0f0;
  color: #f0f0f0;
}

blockquote p {
  margin: 0;
}

/* image */
p:has(img) {
  margin-top: 0;
  margin-bottom: 0;
  width: 50%;
  height: inherit;
}

section:has(footer) p:has(img) {
  padding-bottom: var(--footer-padding);
}

p img {
  height: 100% !important;
  width: 100%;
  height: auto;
  object-fit: cover;
}

p:has(img[alt~="left"]) {
  float: left;
  margin-right: 1rem;
}

p:has(img[alt~="right"]) {
  float: right;
  margin-left: 1rem;
}
